.Button {
    cursor: pointer;
    margin: 0px 25px;
    transition: .7s ease;
    
}

.general {
  padding: 7px 10px;
  border: 3px solid #f4f4f4;
  color: #333;
  background-color: #f4f4f4;
  // transition: .7s ease;
  &:hover {
    border: 3px solid #e2e2e2;
    background-color: #e2e2e2;
  }
}

.additional {
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    color: #ccc;
  }
}