@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Recursive', sans-serif;
}

.App {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
  background-color: indianred;

  color: #f4f4f4;
}


// navigation

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, .1);

  display: flex;
  justify-content: center;

  &__wrapper {
    width: 95%;
    height: inherit;
    // border: 1px solid black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
}

.burger {
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  
  cursor: pointer;

  span {
    border: 1px solid #f4f4f4;
  }
}